body {
    background-color: #e1e8ed;
}

.profile-sidebar {
    height: 100%;
}

.bg-dark {
    background-color: #333 !important;
}

.text-light {
    color: #fff !important;
}

input::placeholder {
    color: #ccc;
}
